
<div ng-controller='bucketsController'>
	  <style>
	  .container {
	  	text-align:center;
	  	padding-top: 50px;
	  }
	  label{
	  	text-align:left;
	  }
	  #welcome-message{
	  	text-align:center;
	  	margin-top: 100px;
	  }
	  </style>

	<div class="container">
		<h1 class="form-signin-heading">Login to Pin-It!</h1>
			<form class="form-signin">
		        <label for="inputEmail" class="sr-only">Username</label>
		        <input type="text" id="inputEmail" name='displayName' class="form-control" placeholder="Username" ng-model='newUser.displayName' required autofocus><br><br>
		        <label for="inputPassword" class="sr-only">First Name</label>
		        <input type="text" id="inputPassword" class="form-control" name='givenName' placeholder="First Name" ng-model='newUser.givenName' required>
		        <button id='start-sockets' class="btn btn-lg btn-primary btn-block" type="submit" ng-click='addUser()'>Sign in</button>
		      </form>

		    </div>
		    <div id='welcome-message'>
		    	<p>Thank you for checking out MEAN stack project called Pin-it! The site is continueally being updated. Please excuse any bugs :)</p>
			</div>
</div>
